[submodule "common"]
	path = common
	url = https://github.com/openzerg/common.git
[submodule "registry"]
	path = registry
	url = https://github.com/openzerg/registry.git
[submodule "agent"]
	path = agent
	url = https://github.com/openzerg/agent.git
[submodule "ai-proxy"]
	path = ai-proxy
	url = https://github.com/openzerg/ai-proxy.git
[submodule "skill-manager"]
	path = skill-manager
	url = https://github.com/openzerg/skill-manager.git
[submodule "workspace-manager"]
	path = workspace-manager
	url = https://github.com/openzerg/workspace-manager.git
[submodule "tool-server-manager"]
	path = tool-server-manager
	url = https://github.com/openzerg/tool-server-manager.git
[submodule "infra"]
	path = infra
	url = https://github.com/openzerg/infra.git
[submodule "tool-job"]
	path = tool-job
	url = https://github.com/openzerg/tool-job.git
[submodule "tool-memory"]
	path = tool-memory
	url = https://github.com/openzerg/tool-memory.git
[submodule "tool-web"]
	path = tool-web
	url = https://github.com/openzerg/tool-web.git
[submodule "worker"]
	path = worker
	url = https://github.com/openzerg/worker.git
[submodule "tool-fs"]
	path = tool-fs
	url = https://github.com/openzerg/tool-fs.git
[submodule "overmind-webui"]
	path = overmind-webui
	url = https://github.com/openzerg/overmind-webui.git
